@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.searchBox {
    width: 80vw;
    padding: 3px;
    text-align: center;
    background-color: white;
    box-shadow: 0 1.4rem 3rem rgba(0, 155, 147, 0.275)!important;
    display: grid;
    grid-template-columns: 1fr 100px;
    border-radius: 100px;
    top: 0;
    position: sticky;
}

.suggest {
    font-weight: lighter;
    font-size: medium;
    border-bottom: 1px solid whitesmoke;
    margin-left: 10%;
    text-align: start;
    padding:0px 5px;
}

.suggestions {
    max-height: 60vh;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
}

.suggest-mid {
    font-weight: lighter;
    font-size: medium;
    border-bottom: 1px solid whitesmoke;
    margin-left: 10%;
    text-align:start;
    padding: 6px;

}
.suggest:hover {
    cursor: pointer;
}

.searchBox:hover {
    padding-bottom: 0px;
    padding-left: 20px;
    text-align: center;
}

.logoHolder {
    text-align: start;
    float: inline-start;
    padding: 10px;
    width: 80vw;

}

.homeText {
    text-align: start;
    width: 80vw;
    font-weight: lighter;
    margin-left: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.search-icon {
    background-color: #5CE1E6;
    border-radius: 50px;
    width: 90%;
    display: inline-block;
    height: 100%;
    border: 3px solid white;
    font-size: small;
    vertical-align: middle;
}

.suggest-icon {
    display: inline-block;
    height: 100%;
    font-size: medium;
    vertical-align: middle;
    width: 30px;
}

.searchInput {
    outline: none;
    /* border-radius: 50px; */
    text-align: center;
    background: transparent;
    border: none;
    width: 95%;
    max-width: 100%;
    margin-left: 4%;
    padding-left: 30px;
    font-weight: lighter;
    color: rgb(78, 78, 78);
    font-size: xx-large;
    border-bottom: 1px solid rgb(235, 235, 235);
    font-family: 'Roboto', sans-serif;
}

.searchAction {
    height: 10%;
}
